<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  引入vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<!-- 准备容器 -->
<div id="root">
    <h2>遍历数组</h2>
    <ul>
        <li v-for="(element,index) in list" :key="index">姓名:{{ element.name }},年龄:{{ element.age }},索引:{{ index }}</li>
    </ul>

    <hr>

    <h2>遍历对象</h2>
    <ul>
        <li v-for="(value,key) in car">{{ key }} -- {{ value }}</li>
    </ul>

    <hr>

    <h2>遍历字符串</h2>
    <ul>
        <li v-for="(value,index) in str">{{ index }} {{ value }}</li>
    </ul>

</div>

<script>
    // 创建vue实例对象，并传入配置对象
    const vm = new Vue({
        // el是用于指定当前vue实例为那个容器服务，值是选择器字符串
        el:'#root',
        // data是存储数据的地方
        data:{
            list:[
                {name:"张三",age:9},
                {name:"李四",age:10},
                {name:"王五",age:9},
                {name:"赵六",age:9},
            ],
            car:{
                name:"帕萨特",
                price:'10w'
            },
            str:"张三在李四手里买一辆帕萨特"
        }
    })
</script>

</body>
</html>
