<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  引入vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<!-- 准备容器 -->
<div id="root">
    <input type="text" v-model="searchValue" placeholder="请输入搜索关键字"><button @click="sortType = 2">年龄降序</button><button @click="sortType = 1">年龄升序</button><button @click="sortType = 0">原序</button>
    <ul>
        <li v-for="el in fmtPersons">{{ el.name }}--{{ el.sex }}--{{ el.age }}岁</li>
    </ul>
</div>

<script>
    // 创建vue实例对象，并传入配置对象
    const vm = new Vue({
        // el是用于指定当前vue实例为那个容器服务，值是选择器字符串
        el:'#root',
        // data是存储数据的地方
        data:{
            // 搜索框内容
            searchValue:'',
            // 排序类别 0：不排序 1：升序 2：降序
            sortType:0,
            persons:[
                {id:'001',name:"马冬梅",age:35,sex:"女"},
                {id:'002',name:"周冬雨",age:25,sex:"女"},
                {id:'003',name:"周杰伦",age:40,sex:"男"},
                {id:'004',name:"温兆伦",age:30,sex:"男"},
            ],

        },
        // 相对数据加工后在展示，且不想破坏源数据，最好用计算属性
        computed:{
            fmtPersons(){
                const {persons ,searchValue,sortType} = this
                const arr = persons.filter(p => p.name.indexOf(searchValue) !== -1)
                if (sortType) {
                    arr.sort((a,b) => {
                        if (sortType === 1) return a.age - b.age
                        else return b.age - a.age
                    })
                }
                return arr
            }
        },

        // 在watch中修改源数据，会导致源数据的丢失
        /*
        watch:{
            searchValue(newValue ,oldValue) {
                this.fmtPersons = this.persons.filter(p => p.name.indexOf(newValue) !== -1)
            }
        }
         */
    })
</script>

</body>
</html>
